@import "@/common/styles/mixins/mixins.scss";


.navbar {
    justify-content: space-between;
    padding-inline: 20px;

    .navLogo {
        aspect-ratio: 1/1;
        width: 50px;
        flex: 0 0 20%;
    }

    .collapseableNavbar{
        flex: 0 0 fit-content;
    }
}


@include desktop {}