@import "@/common/styles/mixins/mixins.scss";




@include desktop {
    .navbar {
        justify-content: space-between;
        padding-inline: 20px;

        .navLogo {
            aspect-ratio: 1/1;
            width: 50px;
            flex: 0 0 20%;
        }

        &>#navbarSupportedContent {
            display: flex;
            justify-content: end;
        }
        form{
            display: flex;
        }
    }


}