@import "@/common/styles/mixins/mixins.scss";


.productImage {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.removeBtn {
    color: var(--clr-danger);
    border: none;
    padding: 0 ;
    text-decoration: underline;
    font-size: 14px;
    text-align: start;
    
    &:hover {
        background-color: #fff;
        color: var(--clr-danger);
    }
}

.productName {
    max-width: 100px;
}

.priceBeforeDiscount {
    color: #ccc;
    text-decoration: line-through;
    text-decoration-color: #ccc;
}

.cartItem {
    border-bottom: 1px solid #000000;
}

@include mobile {
    .productImage {
        width: 100%;
        object-fit: cover;
    }

}