  .productImage {
      width: 150px;
      height: 150px;
      object-fit: contain;
  }

  .productName {
      max-width: 100px;
  }

  .priceBeforeDiscount {
      color: #ccc;
      text-decoration: line-through;
      text-decoration-color: #ccc;
  }



